body::before {
	display: block;
	content: '';
	height: 60px;
}

.navbar-expand-lg {
	background: #007575;
}

.workCard-text {
	background: #007575;
}

.the-icons {
	font-size: 0.73em;
}

/*POP UP- SHOWCASE SECTION*/

.button {
	font-size: 1.5em;
	padding: 10px;
	color: #fff;
	border-radius: 10px;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	background: #24a0ed;
}

.button:hover {
	background: #107dc2;
	color: #fff;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.popup {
	margin: 70px auto;
	padding: 20px;
	background: #ffff;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
}
.popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.popup .close:hover {
	color: #06D85F;
}
.popup .content {
	max-height: 30%;
	overflow: auto;
}

@media screen and (max-width: 700px){
	.box{
		width: 70%;
	}
	.popup{
		width: 70%;
	}
}

/*Popup is up*/


.bodies {
	background: #007575;
	color: #fff;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	height: 40em;
}

.container { 
	max-width: 1100px;
	margin: 0 auto;
	overflow: auto;
}

.the-head {
	flex: 1;
	height: 60%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.the-head h1 {
	font-size: 3em;
}

.counter {
	background: #fff;
	color: #007575;
	padding: 40px 20px; 
}

.main-writing {
	font-size: 6rem;
}

#lists {
	color: white;
}

.mytext-bg {
	background: black;
	opacity: 0.5;
}

.grid-image {
	height: 65vh;
	object-fit: contain;
}
.cat-image {
	height: 58vh;
	object-fit: contain;
}


/* IMAGE-SLIDER */

.carousel {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    height: 500px;
    width: 500px;
    
}

.image-container {
    display: flex;
    transition: transform 0.3s linear;
    transform: translateX(0);
}

img {
    object-fit: fill;
    height: 500px; 
    width: 500px;
}

/*ABOUT-US SECTION AND POP-UP*/
.hide {
	visibility: hidden;
	opacity: 0;
	transform: translateX(-50%) translateY(-50%) scale(0.8) !important;
	-moz-transform: translateX(-50%) translateY(-50%) scale(0.8) !important;
	-o-transform: translateX(-50%) translateY(-50%) scale(0.8) !important;
	-webkit-transform: translateX(-50%) translateY(-50%) scale(0.8) !important;
}

.close {
	position: absolute;
	right: 0;
	top: 0;
	width: 51px;
	height: 51px;
	font-size: 0;
	cursor: pointer;
}
.close:before, .close:after {
	content: '';
	position: absolute;
	background: #767676;
	-moz-border-radius: 1px;
	-webkit-border-radius: 1px;
	-o-border-radius: 1px;
	border-radius: 1px;
	left: 14px;
	right: 14px;
	top: 30px;
	height: 3px;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
	transition: all 100ms ease-in;
	-moz-transition: all 100ms ease-in;
	-webkit-transition: all 100ms ease-in;
	-o-transition: all 100ms ease-in;
}
.close:after {
	transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-webkit-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
}
.popup {
	position: absolute;
	top: 50%;
	left: 50%;
	-o-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-webkit-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
	background-color: #FAFDFF;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	width: 600px;
	box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.09), 0px 11px 12px 7px rgba(0, 0, 0, 0.02);
	-webkit-transition: all 120ms;
	-moz-transition: all 120ms;
	-o-transition: all 120ms;
	transition: all 120ms;
	z-index: 99;
	padding: 25px;
	color: #5E5E5E;
}

@media screen and (max-width: 1000PX) {
	.popup {
		width: 80%;
	}
}

.popup-header {
	text-transform: uppercase;
	font-size: 18px;
}

.popup-body {
	padding: 25px 0;
}

.button {
	padding: 10px 15px;
	border: 1px solid #F5F5F5;
	text-transform: uppercase;
	box-shadow: 1px 2px 3px #F5F5F5;
	color: #5E5E5E;
	cursor: pointer;
	transition: all 120ms ease-in;
	outline: none;
}

.button:hover {
	box-shadow: 1px 3px 5px #E9E9E9;
	transform: translateY(-1px);
}

.button:active, .button:visited {
	transform: translateY(1px);
	outline: none;
	box-shadow: 1px 2px 3px #F5F5F5;
}

/*ABOUT-US SECTION */

/*ABOUT-US SECTION */

/*CONTACT US SECTION*/

.table-text {
	font-size: 1.5em;
	color: black;
}

.table-text a {
	text-decoration: none;
}
/*Message Subsection*/
.required:after {
	content: " *";
	color: red;

}
/*CONTACT US SECTION*/

/*FOOTER SECTION*/
footer {
	color: white;
	padding: 5px 0;
	text-align: center;
	font-size: 10px;
}

.footer-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: row;
	padding: 1.5em 0;	
}
.footer-button {
	position: absolute;
	top: 1.2em;
	right: 0;
}

button {
	font-size: 2em;
	border: none;
	border-radius: 5px;
	overflow: auto;
	display: flex;
}

footer a {
	text-decoration: none;
	color: black;
}
/*FOOTER SECTION*/

