body::before {
	display: block;
	content: '';
	height: 60px;
}

/* NAVBAR*/
.navbar-brand > img {
	max-height: 1.8em;
	height: 70%;
	width: 18em;
	margin: 0 auto;
}
/* NAVBAR */
.navbar-expand-lg {
	background: #007575;
}

.workCard-text {
	background: #007575;
}

.the-icons {
	font-size: 0.73em;
}

/*POP UP- SHOWCASE SECTION*/

.button {
	font-size: 1.5em;
	padding: 10px;
	color: #fff;
	border-radius: 10px;
	text-decoration: none;
	cursor: pointer;
	transition: all 0.3s ease-out;
	background: #24a0ed;
}

.button:hover {
	background: #107dc2;
	color: #fff;
}

.overlay {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}
.overlay:target {
	visibility: visible;
	opacity: 1;
}
.popup {
	margin: 70px auto;
	padding: 20px;
	background: #ffff;
	border-radius: 5px;
	width: 30%;
	position: relative;
	transition: all 5s ease-in-out;
}
.popup h2 {
	margin-top: 0;
	color: #333;
	font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}
.popup .close:hover {
	color: #06D85F;
}
.popup .content {
	max-height: 30%;
	overflow: auto;
}

@media screen and (max-width: 700px){
	.box{
		width: 70%;
	}
	.popup{
		width: 70%;
	}
}

/*Popup is up*/



.container { 
	max-width: 1100px;
	margin: 0 auto;
	overflow: auto;
}



#lists {
	color: white;
}

.mytext-bg {
	background: black;
	opacity: 0.5;
}


/* IMAGE-SLIDER */

.carousel {
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    height: 500px;
    width: 500px;
    
}

.image-container {
    display: flex;
    transition: transform 0.3s linear;
    transform: translateX(0);
}

img {
    object-fit: fill;
    height: 500px; 
    width: 500px;
}

/* READ-MORE LIST HEADING*/
.list-heading {
	font-weight: bold;
}

/* READ-MORE LIST HEADING*/

/* BOOTSTRAP PADDING REPLACEMENT SECTION */

.main-section, .text-canvass{
	padding: 3em 3em 0 3em;
}
.section-canvass {
	padding: 3em;
}
@media (max-width: 35em) {
	.main-section, .section-canvass {
		padding: 0;
	}
	.text-canvass {
		padding: 1em;
	}
	.technology {
		padding-top: 2em;
	}
	.contacting {
		font-size: .6em;
		padding: 1.5em;
	}

}

/* BOOTSTRAP PADDING REPLACEMENT SECTION */


/*ANIMATED COUNTER SECTION*/
.work-numbers {
	font-size: 1.5em;
}

/*ANIMATED COUNTER SECTION*/

/* FIXED GALLERY ICON */

.galleryRight {
	position: fixed;
	right: 0;
	bottom: 40%;
	border: 3px solid #2B9696;
	background-color: #004646;
	color: white;
	height: fit-content;
	width: fit-content;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.theIcon {
	font-size: 4em;
	padding: 0 0.2em 0 0.2em;
}
.theIcon:hover {
	color: #fff;
}
.galleryRightText {
	font-size: 0.8em;
}
@media (max-width:35em) {
	.galleryRight {
		position: fixed;
		top: 20%;
		right: 0;
	}
	.theIcon {
		font-size: 2em;
	}

}
/* FIXED GALLERY ICON */

/*ABOUT-US SECTION*/
/*.drop-cap:first-letter {
	font-family: monospace;
	float: left;
	font-size: 4rem;
	line-height: 0.65;
	margin: 0.1em 0.1em 0.1em 0;
}

.drop-cap p:first-child:first-letter {
	float: left;
	font-family: fantasy;
	font-size: 4em;
	line-height: 3.5em;
	padding: 0.2em 0.2em 0.2em 0;

}*/

/*ABOUT-US SECTION*/


/*CONTACT US SECTION*/

.table-text {
	font-size: 1.5em;
	color: black;
}

.table-text a {
	text-decoration: none;
}
.table1 {
	padding-bottom: 0.5rem;
}

@media (max-width: 35em) {
	.table1 {
		padding-bottom: 0;
	}
}

@media only screen and (max-width: 35em) {
	.table2-head {
		display: none;
	}
}

/*Message Subsection*/
.required:after {
	content: " *";
	color: red;

}


/* Navbar */

.nav-item{
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	transition-duration:.3s;
}

@media (min-width: 992px){
	.nav-item:hover{
		scale: 1.12;
		text-shadow: 2px 2px 4px black;
	}

	.nav-item:active{
		scale: .90;
		text-shadow: none;
	}
}


/* Carousel */
.carousel{
	margin: 0 auto;
}



@media only screen and (max-width: 424px){
	.carousel{
		width: 250px;
		height: 250px;
		
	}
}

@media only screen and (min-width:425px) and (max-width:562px){
	.carousel{
		width: 350px;
		height: 350px;
	}
}

.dropdown-item{
	text-shadow: none;
}

/*CONTACT US SECTION*/

/*FOOTER SECTION*/
footer {
	color: white;
	padding: 5px 0;
	text-align: center;
	font-size: 10px;
}

.footer-container {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex: row;
	padding: 1.5em 0;	
}
.footer-button {
	position: absolute;
	top: 1.2em;
	right: 0;
}

button {
	font-size: 2em;
	border: none;
	border-radius: 5px;
	overflow: auto;
	display: flex;
}

footer a {
	text-decoration: none;
	color: black;
}
/*FOOTER SECTION*/

#to-top{
	position: fixed;
	display:none;
	right: 2vw;
	bottom: 2vh;
	background-color: #004646;
	color: aliceblue;
	font-weight: bold;
	text-decoration: none;
	transition-duration: .4s;
}

#to-top:hover{
	background-color: #79d5d5;
	color: black;
	scale: 1.13;
}

#to-top:active{
	scale: .90;
}