/* NAVBAR SECTION */
.navbar-brand > img {
	max-height: 1.8em;
	height: 70%;
	width: 18em;
	margin: 0 auto;
}
.navbar-expand-lg {
	background: #007575;
}
.topBtn {
    background-color: black;
    color: aliceblue;
}

.topBtn:hover {
    background-color: darkgray;
}
.topBtn a {
    text-decoration: none;
    color: aliceblue;
}
/* NAVBAR SECTION */
/* Flexbox */
.space {
    background-color: #fff;
    color: #35373a;
    min-height: 100vh;
    border-radius: 20px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}
ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
li {
    height: 40vh;
    flex-grow: 1;
    margin: 1em 0;
    padding: 0 1.5em;
}

.thelist {
    max-height: 100%;
    max-width: 100%;
    object-fit: cover;
    vertical-align: bottom;
}
/* li img {
    max-width: 300px;
    transition: 0.2s ease-in-out;
    box-shadow: 0 2px 3px rgba(0,0,0,0.2);
}
li img:hover {
    transform: scale(1.12);
    box-shadow: 0 8px 15px rgba(0,0,0,0.3);
} */

img{
    z-index: 1;
    transition: .2s;
    cursor: pointer;
}

@media screen and (min-width:992px) {
    img:hover{
        transform: scale(1.05);
    }
}


/*Flexbox*/
.navbar{
    position: fixed;
    top:0;
    width:100%;
    z-index: 20;
}

/* To Home */
#to-home{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: white;
    font-size: 22px;
    font-weight:600;
    text-decoration: none;
}
    
@media (min-width: 992px){

    #home{
        margin-right: 4em ;
        transition-duration: .3s;
    }
    
    #home:hover{
        transform:scale(1.12);
        text-shadow: 2px 2px 4px black;
    }
    
    #home:active{
        transform: scale(.90);
        text-shadow: none;
    }
}

/* To Top */
#to-top{
	position: fixed;
    z-index: 10;
	display:none;
	right: 2vw;
	bottom: 2vh;
	background-color: #004646;
	color: aliceblue;
	font-weight: bold;
	text-decoration: none;
	transition-duration: .4s;
}

#to-top:hover{
	background-color: #79d5d5;
	color: black;
	scale: 1.13;
}

#to-top:active{
	scale: .90;
}

/* Modal */
.custom-modal-dialog {
    margin: 0 auto;
    width: 95vw;
    height: 100%;
}

.modal-body {
    max-height: 80%;
    overflow:hidden; 
}

@media only screen and (max-height:680px){
    #modalImage{
        width: 100%;
        height: 50vh;
    }
}
@media only screen and (min-width:600px){
    #modalImage{
        width: 100%;
        height: 400px;
    }
}
@media only screen and (min-width:900px){
    #modalImage{
        width: 100%;
        height: 700px;
    }
}

.modal-footer .btn {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
